<%inherit file="/derived/protein.html"/>

<%def name="main()">
    <h3>Protein variant data</h3>
    <table class="view">
        <tr>
            <th>Name</th>
            <td>${request.tmpl_context.record.name}</td>
        </tr>
        <tr>
            <th>Root name</th>
            <td>${h.link_to(request.tmpl_context.record.root_name.root_name, request.route_url('protein_root_name_v', id=request.tmpl_context.record.root_name.id))}</td>
        </tr>
        <tr>
            <th>Classification</th>
            <td>${h.link_to(request.tmpl_context.record.classification.classification, request.route_url('protein_classification_v', id=request.tmpl_context.record.classification.id))}</td>
        </tr>
        <tr>
            <th>E.request.tmpl_context. Number</th>
            % if request.tmpl_context.record.ec_number:
                <td>${h.link_to(request.tmpl_context.record.ec_number.ec_number, request.route_url('protein_ec_number_v', id=request.tmpl_context.record.ec_number.id))}</td>
            % else:
                <td></td>
            % endif
        </tr>
        <tr>
            <th>Source</th>
            <td>${h.link_to(request.tmpl_context.record.source.source, request.route_url('protein_source_v', id=request.tmpl_context.record.source.id))}</td>
        </tr>
        <tr>
            <th>A.A. Sequence</th>
            <td><tt>${' '.join(h.wrap(request.tmpl_context.record.aa_seq, 10))}</tt></td>
        </tr>
        <tr>
            <th>ITC data</th>
            <td>${h.link_to("ITC data", request.route_url('protein_itc', page='1', id=request.tmpl_context.record.id))}</td>
        </tr>
        <tr>
            <th>Structure data</th>
            <td>${h.link_to("Structure data", request.route_url('protein_structure', page='1', id=request.tmpl_context.record.id))}</td>
        </tr>
    </table>
</%def>
