<%inherit file="/derived/protein.html"/>

<%def name="buildrow(protein_classification, odd=True)">
    %if odd:
        <tr class="odd">
    %else:
        <tr class="even">
    % endif
        <td>${h.link_to(protein_classification.classification, request.route_url('protein_classification_v', id=protein_classification.id))}</td>
        </tr>
</%def>


<%def name="main()">
    <h3>Browse classifications</h3>
    % if len(request.tmpl_context.paginator):
        <p>${ request.tmpl_context.paginator.pager('$link_previous $link_next') }</p>
        <table class="browse">
        <% counter=0 %>
        % for item in request.tmpl_context.paginator:
            ${buildrow(item, counter%2)}
            <% counter += 1 %>
        % endfor
        </table>
        <p>${ request.tmpl_context.paginator.pager('~2~') }</p>
    % else:
    <p>
        No pages have yet been created.
    </p>
    % endif
</%def>

