<%inherit file="/derived/protein.html" />
<%namespace file="fields.html" name="fields" import="*"/>

<%def name="main()">
    <h3>Create a new protein EC number</h3>
    ${request.tmpl_context.form.start_with_layout(request.route_url('protein_ec_number', action='create'),
                               table_class='form')}
    ${request.tmpl_context.form.field(label='Protein EC number', type='text', name='ec_number', required=True)}
    ${request.tmpl_context.form.action_bar(request.tmpl_context.form.submit(name='submit', value='Create protein EC number'))}
    ${request.tmpl_context.form.end_with_layout(hidden_field_names=['id'])}
</%def>

