<%inherit file="/derived/itc.html"/>

<%def name="buildrow(itc_interaction_type, odd=True)">
    %if odd:
        <tr class="odd">
    %else:
        <tr class="even">
    % endif
        <td>${h.link_to(itc_interaction_type.interaction_type, request.route_url('itc_interaction_type_v', id=itc_interaction_type.id))}</td>
        </tr>
</%def>

<%def name="main()">
    <h3>Browse ITC interaction types</h3>
    % if len(request.tmpl_context.paginator):
    <p class="nav">${ request.tmpl_context.paginator.pager('$link_previous $link_next') }</p>
    <table class="browse">
    <% counter=0 %>
    % for item in request.tmpl_context.paginator:
        ${buildrow(item, counter%2)}
        <% counter += 1 %>
    % endfor
    </table>
    <p>${ request.tmpl_context.paginator.pager('~2~') }</p>
    % else:
    <p>
        No pages have yet been created.
    </p>
    % endif
</%def>


