<%inherit file="/derived/citation.html" />
<%namespace file="fields.html" name="fields" import="*"/>

<%def name="main()">
    <h3>Edit journal</h3>
    ${request.tmpl_context.form.start_with_layout(request.route_url('journal', action='save',
                                     id=request.urlvars['id']), table_class='form')}
    ${request.tmpl_context.form.field(label='Journal name', type='text', name='name', required=True)}
    ${request.tmpl_context.form.field(label='Journal abbreviation', type='text', name='abbreviation', required=True)}
    ${request.tmpl_context.form.action_bar(request.tmpl_context.form.submit(name='submit', value='Save changes'))}
    ${request.tmpl_context.form.end_with_layout(hidden_field_names=['id'])}
</%def>

