<%inherit file="/derived/home.html"/>

<%def name="main()">
    <h3>Acknowledgements</h3>
    <p>The SCORPIO team would like to thank the companies and institutions that have supported the project over the years. Thank you!</p>

    <table>
    <tr>
    <td><a href="http://www.biochemj.org"><img src=${request.static_url('scorpio:static/logos/BJ_Logo.gif')} alt="Biochemical Journal logo" /></a></td>
    <td>2011</td>
    <td><a href="http://www.biochemj.org">Biochemical Journal</a></td>
    </tr>
    <tr>
    <td><a href="http://www.microcalorimetry.com/"><img src=${request.static_url('scorpio:static/logos/MicroCal-logo.jpg')} alt="MicroCal logo" /></a></td>
    <td>2007</td>
    <td><a href="http://www.microcalorimetry.com/">MicroCal</a></td>
    </tr>
    <tr>
    <td><a href="http://www.wellcome.ac.uk/"><img src=${request.static_url('scorpio:static/logos/wtlogo.png')} alt="Wellcome Trust logo" /></a></td>
    <td>2006</td>
    <td><a href="http://www.wellcome.ac.uk/">Wellcome Trust</a></td>
    </tr>
    <tr>
    <td><a href="http://www.ucb-group.com/"><img src=${request.static_url('scorpio:static/logos/ucb-logo.png')} alt="UCB logo" /></a></td>
    <td>2003-2006</td>
    <td><a href="http://www.ucb-group.com/">UCB</a></td>
    </tr>
    </table>
</%def>

