<%inherit file="/derived/citation.html"/>

<%def name="buildrow(citation, odd=True)">
    %if odd:
        <tr class="odd">
    %else:
        <tr class="even">
    % endif
        <td>${h.link_to(str(citation), request.route_url('citation_v', id=citation.id))}</td>
        <td><a href=${'http://www.ncbi.nlm.nih.gov/pubmed/%s?dopt=Abstract' % citation.pubmed_id} target='_blank'>${citation.pubmed_id}</a></td>
        </tr>
</%def>

<%def name="main()">
    <h3>Browse citations</h3>
    % if len(request.tmpl_context.paginator):
    <p class="nav">${ request.tmpl_context.paginator.pager('$link_previous $link_next') }</p>
    <table class="browse">
    <tr><th>Citation</th><th>PubMed Id</th></tr>
    <% counter=0 %>
    % for item in request.tmpl_context.paginator:
        ${buildrow(item, counter%2)}
        <% counter += 1 %>
    % endfor
    </table>
    <p class="nav">${request.tmpl_context.paginator.pager('~2~') }</p>
    % else:
    <p>
        No citations available.
    </p>
    % endif
</%def>


